{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.file.label(class="form-control-label") }}
                {% if form.file.errors %}
                {{ form.file(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.file.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.file(class="form-control") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-sm btn-outline-primary mt-2") }}
        </div>
    </form>
</div>
{% endblock content %}